node_modules
dist
.git
.gitignore
.github
.env
.env.*
!.env.example
*.md
!README.md
Taskfile.yml
src/tests
tests
coverage
.nyc_output
.vscode
.idea
*.test.ts
.prettierrc
.prettierignore
docker-compose.yml
